############
## Node
############

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

node_modules

############
## OS
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store


#############
## PHP Storm
#############
.idea
atlassian-ide-plugin.xml


#############
## Project
#############
application/caches/*
public/files/_tmp/*
.zfproject.xml
.vagrant